*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    font-weight: 700;
    text-decoration: none;
}

button {
    font-weight: 700;
    border: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}