.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero {
  width: 100%;
  height: 100%;
  padding-block: 8em;
}

.hero-container {
  height: 100%;
  display: grid;
  justify-content: center;
  place-items: end;

  @media (width <= 1024px) {
    place-items: start;
  }
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  @media (width <= 1024px) {
    grid-template-columns: 1fr;
    gap: 7em;
  }
}

.hero-text {
  & h2 {
    text-transform: uppercase;
  }

  & p {
    color: var(--blue-300);

    @media (width <= 1024px) {
      max-width: 35em;
    }
  }

  @media (width <= 1024px) {
    text-align: center;
  }
}

.hero-subheading {
  color: var(--blue-300);
  margin-bottom: 1.2em;
}

.hero-title {
  margin-bottom: 0.2em;
}

.hero-cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (width <= 1024px) {
    justify-content: center;
  }
}
